*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin: 20px 0;
}

header h1 {
    font-size: 40px;
}

header h2 {
    font-size: 30px;
}

.player-board {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.side-bar {
    position: absolute;
    left: 20%;
    top: 0%;
}

.reset-board {
    font-size: 18px;
    background-color: transparent;
    border: 2px solid;
    width: 117px;
    height: 40px;
    cursor: pointer;
    font-weight: 800;
}

.block {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    cursor: pointer;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

